/**
Default settings for webpage remotely

**/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {

    font-family: "Lucida Console", "Courier New", monospace;
}


/**
Navigation bar style

**/


.navigationbar {
    color: white;
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
    margin-bottom: 30px;
}

.cart {
    background-color: white;
    color: #212529;
    padding: 5px;
    border-radius: 4px;
    font-size: 30px;
}

.cartAmount {
    position: absolute;
    color: white;
    background-color: red;
    top: 10px;
    right: 50px;
    padding: 3px;
    border-radius: 4px;
    font-size: 16px;
}

/**

style for Products

**/


.DisplayProducts {
    display: grid;
    grid-template-columns: repeat(4, 254px);

    gap: 20px;
    justify-content: center;

}

@media (max-width: 1000px) {
    .DisplayProducts {

        grid-template-columns: repeat(2, 254px);


    }

}

.item {
    border: 1px solid black;

}

.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.price-quantity {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 7px;

}



/* 

Cart Page

*/
.CartDisplay {

    width: 340px;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
}

.CartItem {
    display: flex;
    direction: row;
    gap: 5px;
    border: 1px solid black;
}

.detailsCart {
    padding: 10px;

}

.amountofquantity {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    align-items: baseline;

}

.bi-x {
    margin-left: 100px;
    font-size: 20px;
}


/* checkout header */

#checkoutDisplay {

    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

#checkoutDisplay p {
    display: inline-block;
    padding: 5px;
    color: white;
}

#checkoutDisplay p:nth-child(2) {
    background-color: green;


}

#checkoutDisplay p:nth-child(3) {
    background-color: red;

}


/* pagination */

.paginationbutton {
    padding: 10px;
    text-align: center;
    margin: 6px;

}

.pagination {
    margin: auto;
    text-align: center;
    margin-bottom: 140px;
    margin-top: 40px;

}


/* Feature */

#feature {

    margin: auto;
    margin-bottom: 50px;
    text-align: center;

}
